<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.highzap.cloud.personalcostdatabase.dao.EmployeeDao">

    <resultMap type="com.highzap.cloud.personalcostdatabase.entity.Employee" id="EmployeeMap">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="bornDate" column="born_date" jdbcType="TIMESTAMP"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="deptId" column="dept_id" jdbcType="VARCHAR"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertOne">
    INSERT INTO `employee`(`id`, `name`, `born_date`, `address`, `dept_id`)
        VALUES (#{emp.id}, #{emp.name}, now(), '测试地址', '02');
    </insert>


    <select id="list" resultType="com.highzap.cloud.personalcostdatabase.entity.Employee">
        SELECT * FROM `employee`
    </select>
    <select id="getBySQL" resultType="com.highzap.cloud.personalcostdatabase.entity.Employee">
        SELECT
            e.*
        FROM employee e
        INNER JOIN dept d on d.id = e.dept_id
    </select>
    <select id="getBySQL2" resultType="com.highzap.cloud.personalcostdatabase.entity.Employee">
        SELECT
            e.*
        FROM
            employee e
        WHERE e.id in (
            SELECT id from employee
        )
    </select>

</mapper>